body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
    width:80% ;
    height 700px;
    margin: 0 auto;
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;

}




.item {
    width: 150px;
    height:150px;
    background-color: aquamarine;
    text-align: center;
    border: 5px solid green;
    border-radius: 15px;
    

  }